<ul class="item-list">
  <% @list_items.each_with_index do |item, index| %>
    <li>
      <div class="item<%= " checked_off" if item.checked_off? %>">
        <a href=<%= "/toggle=#{index}" %>>
          <%= item.name %>
          <%= "&nbsp;&nbsp;[#{item.quantity}]" unless item.quantity == "not specified" %>
        </a>
      </div>
      <div class="edit-box">
        <a href=<%= "/item_details=#{index}" %>>Edit</a>
      </div>
    </li>
  <% end %>
  <li>
    <div class="add">
      <a href="/new">Add a new item</a>
    </div>
    </li>
  <li>
    <div class="clear">
      <a href="/clear">Clear items that are crossed off</a>
    </div>
  </li>
</ul>
