<% item = @list_items[@index] %>
<p><%= item.name %></p>
<p>Quantity:&nbsp;&nbsp;<%= item.quantity %>&nbsp;&nbsp;&nbsp;
  ( <a href=<%= "/increment=#{@index}" %>>+</a> /
  <a href=<%= "/decrement=#{@index}" %>>-</a> )
</p>
<p>Delete? (
  <a href=<%= "/destroy=#{@index}" %>>y</a> /
  <a href="/">n</a> )
</p>
